.form-terms {
  margin: 0 56px;
  width: 195px;
  font-size: 12px;
  color: var(--beauty-landing-2-5, #747272);
  text-align: center;
  margin: 8px auto;

  &__link {
    color: var(--beauty-landing-2-5, #747272);
  }
}
