.section {
  padding-bottom: 40px;

  @media screen and (min-width: $bp-desktop) {
    padding-bottom: 96px;
  }

  &__title {
    font-family: Play;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.15;
    text-align: center;

    @media screen and (min-width: $bp-desktop) {
      font-size: 64px;
      font-weight: 700;
      line-height: 1.15;
      margin-bottom: 48px;
    }

    &_accent {
      color: var(--color-brand);
    }
  }
}
